/*css reset*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: #F6F8F9;
}

/*header*/

header {
    height: 70px;
    background-color: white;
    line-height: 70px;
    padding-left: 25px;
    margin-bottom: 40px;
}
h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
    
}

img {
    vertical-align: middle;
}

/*utilitis*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*cards*/

.card {
    background-color: white;
    border-radius: 4px;
}

.card-head {
    padding: 10px;
    padding-left: 50px;
    border-bottom: 2px solid #F6F8F9 ;
}

.button {
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 10px;
}

#task {
    background-color: #47ADF1;
    color: white;
    border: 1px solid #47ADF1 ;

}

#section {
    background-color: white;
    color: #C5CBD0;
    border: 1px solid #C5CBD0;
}