/*css reset*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: #F6F8F9;
}

/*header*/

header {
    height: 70px;
    background-color: white;
    line-height: 70px;
    padding-left: 25px;
    margin-bottom: 40px;
}
h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
    
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
}


summary {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

li {
        height: 40px;
}


/*utilitis*/

.container {
    max-width: 77%;
    margin: 0 auto;
}

/*cards*/

.card {
    background-color: white;
    border-radius: 4px;
}

.card-head {
    padding: 10px;
    padding-left: 50px;
    border-bottom: 2px solid #F6F8F9 ;
}

.card-body {
        padding-top: 35px;
        padding-left: 50px;
}


/*buttons*/

.button {
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 10px;
}


#addtask {
    background-color: #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
}

#addsection {
    background-color: white;
    color: #C5CBD0;
    border: 1px solid #C5CBD0;
}



/*mail list*/

.task-status {
    width: 15px;
    height: 15px;
    border: 1px solid currentColor;
    border-radius: 50%;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}

.task-status.positive {
    color: #66C1AA;
}

.task-status.negative {
    color: red;
}

.task-text {
    vertical-align: middle;
}

.task-badge {
    
    font-size: 10px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
}

.task-badge.blu {
    background-color: #47ADF1;
}

.task-badge.purple {
    background-color: #9C72E4;
}

.task-badge.green {
    background-color: #64C0A9;
}

.task-badge.orange {
    background-color: #F29E33;
}

.task-badge.pink {
    background-color: #D863A1;
}

.task-badge.olive {
    background-color: #B0C926;
}

